.gqgeJM {
    background: #e9eaec;
    height: 100vh;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: column;
}

.BRUkU {
    background: #e9eaec;
    height: 100vh;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: column;
}

.ghtspl {
    background: #e9eaec;
    height: 100vh;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: column;
}

.hjctNP {
    background: #e9eaec;
    height: 100vh;
    display: flex;
    justify-content: space-between !important;
    align-items: center;
    flex-direction: column;
}